/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-umi/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

.talk-box {
    width: 100%;
    height: auto;
    overflow: hidden; /*floatの解除*/
    margin-bottom: 20px;
}

.icon {
    float: left;
    margin-right: -120px;
}

.icon img{
    border-radius: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ddd;
}

.talk-area {
    width: 100%;
    float: right;
}

.talk {
    width: 80%;
    display: inline-block;
    padding: 15px 20px;
    margin-left: 120px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}